IEclipsePreferences#de-jcup-yamleditor:de-jcup-yamleditor { /* pseudo attribute added to allow contributions without replacing this node, see Bug 466075 */
	preferences:
		'colorNormalText=217,232,247'
		'colorYamlKeywords=154,140,124'
		'colorBooleans=104,151,187'
		'colorDoubleStrings=23,198,163'
		'colorSingleStrings=23,198,163'
		'colorComments=128,128,128',
		'colorMappings=204,108,29'
		'colorBlock=49,98,98'
		'colorHyperlink=169,156,140'
}

