<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEYWORDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.keywords">
     <keyword
   		id="yamleditor.preferences.keyword.yaml"
   		label="yaml">
     </keyword>
      <keyword
   		id="yamleditor.preferences.keyword.color"
   		label="color">
     </keyword>
     <keyword
   		id="yamleditor.preferences.keyword.editor"
   		label="editor">
     </keyword>
     <keyword
   		id="yamleditor.preferences.keyword.validation"
   		label="validation">
     </keyword>
     <keyword
   		id="yamleditor.preferences.keyword.folding"
   		label="folding">
     </keyword>
     <keyword
   		id="yamleditor.preferences.keyword.task"
   		label="task">
     </keyword>
     <keyword
   		id="yamleditor.preferences.keyword.tasks"
   		label="tasks">
     </keyword>
      <keyword
        id="yamleditor.preferences.keyword.template"
        label="template">
     </keyword>
     <keyword
        id="yamleditor.preferences.keyword.templates"
        label="templates">
     </keyword>
     <keyword
   		id="yamleditor.preferences.keyword.todo"
   		label="todo">
     </keyword>
     <keyword
   		id="yamleditor.preferences.keyword.format"
   		label="format">
     </keyword>
     <keyword
   		id="yamleditor.preferences.keyword.formatter"
   		label="formatter">
     </keyword>
    
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          EDITOR                                      -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
      		name="Yaml Editor"
            extensions="yaml,yml"
            icon="icons/yaml-editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.yamleditor.YamlEditor"
            default="true"
            id="yamleditor.editors.YamlEditor">
      </editor>
   </extension>
   
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.yamleditor.script.problem"
    	point="org.eclipse.core.resources.markers"
    	name="Yamleditor file problem">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="false"/>
    </extension>
    
    <extension 
   		id="de.jcup.yamleditor.script.task"
    	point="org.eclipse.core.resources.markers"
    	name="Yamleditor task">
        <super type="org.eclipse.core.resources.taskmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
    </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          CONTEXT                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.contexts">
	  <context
	        name="Yaml context"
	        description="Editing Yaml files"
	        parentId="org.eclipse.ui.textEditorScope"
	        id="yamleditor.editors.YamlEditor.context">
	        
	  </context>
   </extension>
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          TEMPLATE                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="Yaml Editor"
            class="de.jcup.yamleditor.templates.YamlEditorTemplateContextType"
            id="de.jcup.yamleditor.template.context">
      </contextType>
      <template
            name="TODO"
            icon="icons/templates/task.png"
            description="TODO marker for current user and date"
            contextTypeId="de.jcup.yamleditor.template.context"
            id="yamleditor.templates.default.todo">
         <pattern># TODO ${user}, ${currentDate:date('yyyy-MM-dd')}:${cursor}</pattern>
      </template>
      
      <template
            name="FIXME"
            icon="icons/templates/task.png"
            description="FIXME marker for current user and date"
            contextTypeId="de.jcup.yamleditor.template.context"
            id="yamleditor.templates.default.fixme">
         <pattern># FIXME ${user}, ${currentDate:date('yyyy-MM-dd')}:${cursor}</pattern>
      </template>
</extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          COMMANDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->^
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Yaml editor"
            id="yamleditor.commands.category"
            name="Yaml editor">
      </category>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
   	   <command
            name="Quick outline"
            description="Show quick outline dialog"
            categoryId="yamleditor.commands.category"
            id="yamleditor.editor.commands.quickoutline">
      </command>
      <command
      		name="Move column marker to current caret position"
      		description="Sets column marker line to current caret position"
      		categoryId="yamleditor.commands.category"
      		id="yamleditor.editor.commands.movecolumnline">
      </command>
      <command
            name="Toggle comment"
            description="Toggle comment in selected line(s)"
            categoryId="yamleditor.commands.category"
            id="yamleditor.editor.commands.source.toggleComment">
      </command>
      <command
            name="Format"
            description="Format yaml source code"
            categoryId="yamleditor.commands.category"
            id="yamleditor.editor.commands.source.format">
      </command>
      <command
            name="Goto matching bracket"
            description="Goto matching bracket inside gradle document"
            categoryId="yamleditor.commands.category"
            id="yamleditor.editor.commands.gotomatchingbracket">
      </command>
      <command
      		name="Validate YAML"
      		description="Start yaml parsing and shows validation problems"
      		categoryId="yamleditor.commands.category"
      		id="yamleditor.editor.commands.validate">
      </command>
      <command
      		name="Sort mapping (ascending)"
      		description="Sorts and changes yaml source code. Mapping will be sorted ascending after this"
      		categoryId="yamleditor.commands.category"
      		id="yamleditor.editor.commands.sortAscending">
      </command>
      <command
      		name="Toggle folding enabled"
      		description="Toggle folding enabled state for this editor. If you want change initial behaviour change preferences"
      		categoryId="yamleditor.commands.category"
      		id="yamleditor.editor.commands.folding.toggle">
      </command>
      <command
      		name="Expand all folding"
      		description="Expand all folding nodes inside editor"
      		categoryId="yamleditor.commands.category"
      		id="yamleditor.editor.commands.folding.expandall">
      </command>
      <command
      		name="Collapse all folding"
      		description="Collapse all folding nodes inside editor"
      		categoryId="yamleditor.commands.category"
      		id="yamleditor.editor.commands.folding.collapseall">
      </command>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	 <handler
            commandId="yamleditor.editor.commands.quickoutline"
            class="de.jcup.yamleditor.handlers.OpenQuickOutlineHandler">
      </handler>
      <handler
            commandId="yamleditor.editor.commands.source.toggleComment"
            class="de.jcup.yamleditor.handlers.ToggleCommentHandler">
      </handler>
      <handler
            commandId="yamleditor.editor.commands.source.format"
            class="de.jcup.yamleditor.handlers.FormatYamlSourceHandler">
      </handler>
       <handler
            commandId="yamleditor.editor.commands.gotomatchingbracket"
            class="de.jcup.yamleditor.handlers.GotoMatchingBracketHandler">
      </handler>
      <handler
      		commandId="yamleditor.editor.commands.movecolumnline"
      		class="de.jcup.yamleditor.handlers.MoveColumnLinesHandler">
      </handler>
      <handler
      		commandId="yamleditor.editor.commands.validate"
      		class="de.jcup.yamleditor.handlers.YamlValidationHandler">
      </handler>
        <handler
            commandId="yamleditor.editor.commands.sortAscending"
            class="de.jcup.yamleditor.handlers.YamlSortAscendingHandler">
      </handler>
      <handler
      		commandId="yamleditor.editor.commands.folding.toggle"
      		class="de.jcup.yamleditor.handlers.YamlFoldingToggleHandler">
      </handler>
       <handler
      		commandId="yamleditor.editor.commands.folding.collapseall"
      		class="de.jcup.yamleditor.handlers.YamlFoldingCollapseAllHandler">
      </handler>
       <handler
      		commandId="yamleditor.editor.commands.folding.expandall"
      		class="de.jcup.yamleditor.handlers.YamlFoldingExpandAllHandler">
      </handler>
    </extension> 
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEY BINDING                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.bindings">
   		<key
            sequence="M1+O"
            contextId="yamleditor.editors.YamlEditor.context"
            commandId="yamleditor.editor.commands.quickoutline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+7"
            contextId="yamleditor.editors.YamlEditor.context"
            commandId="yamleditor.editor.commands.source.toggleComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+SHIFT+F"
            contextId="yamleditor.editors.YamlEditor.context"
            commandId="yamleditor.editor.commands.source.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+M2+P"
            contextId="yamleditor.editors.YamlEditor.context"
            commandId="yamleditor.editor.commands.gotomatchingbracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="F3"
            contextId="yamleditor.editors.YamlEditor.context"
            commandId="yamleditor.editor.commands.movecolumnline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
    </extension> 
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MENU                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:yamleditor.editors.YamlEditor.context?after=additions">
         <command 
               commandId="yamleditor.editor.commands.quickoutline"
               >
        </command>
        <menu
               id="yamleditor.editor.menu.sourceMenu"
               label="Source"
               mnemonic="S"
               >
               <visibleWhen checkEnabled="true">
                     <with variable="activeEditor">
                        <instanceof
                            value="de.jcup.yamleditor.YamlEditor"/>
                     </with>
               </visibleWhen>
            <command commandId="yamleditor.editor.commands.movecolumnline"></command>
            <command commandId="yamleditor.editor.commands.source.format"></command>
            <command commandId="yamleditor.editor.commands.source.toggleComment"></command>
            <command commandId="yamleditor.editor.commands.validate" icon="icons/yaml-validation-call.png"></command>
            <command commandId="yamleditor.editor.commands.sortAscending" icon="icons/alphab_sort_co.png"></command>
         </menu>
      </menuContribution>
      
      <menuContribution
            locationURI="popup:yamleditor.editors.YamlEditor.context.ruler?after=additions">
        <command commandId="yamleditor.editor.commands.folding.toggle" >
        </command>
        <command commandId="yamleditor.editor.commands.folding.expandall" icon="icons/expandall.png"/>
        <command commandId="yamleditor.editor.commands.folding.collapseall" icon="icons/collapseall.png"/>
      </menuContribution>
      
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
            
         <menu
               id="yamleditor.editor.menu.sourceMenu"
               label="Source"
               mnemonic="S"
               >
               <visibleWhen checkEnabled="true">
                     <with variable="activeEditor">
                     	<instanceof
                            value="de.jcup.yamleditor.YamlEditor"/>
                     </with>
               </visibleWhen>
            <command commandId="yamleditor.editor.commands.movecolumnline"></command>
            <command commandId="yamleditor.editor.commands.source.format"></command>
            <command commandId="yamleditor.editor.commands.source.toggleComment"></command>
            <command commandId="yamleditor.editor.commands.validate" icon="icons/yaml-validation-call.png"></command>
            <command commandId="yamleditor.editor.commands.sortAscending" icon="icons/alphab_sort_co.png"></command>
           
         </menu>
      </menuContribution>
      
      </extension> 
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PREFERENCES                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="de.jcup.yamleditor.preferences.YamlEditorPreferencePage"
         class="de.jcup.yamleditor.preferences.YamlEditorPreferencePage"
         name="Yaml Editor"
         >
         <keywordReference
               id="yamleditor.preferences.keyword.yaml">
         </keywordReference>
         <keywordReference
               id="yamleditor.preferences.keyword.editor">
         </keywordReference>
         <keywordReference
               id="yamleditor.preferences.keyword.folding">
         </keywordReference>
      </page>
      <page
         id="de.jcup.yamleditor.preferences.YamlEditorSyntaxColorPreferencePage"
         class="de.jcup.yamleditor.preferences.YamlEditorSyntaxColorPreferencePage"
         name="Syntax coloring"
         category="de.jcup.yamleditor.preferences.YamlEditorPreferencePage">
         <keywordReference
               id="yamleditor.preferences.keyword.yaml">
         </keywordReference>
          <keywordReference
               id="yamleditor.preferences.keyword.color">
         </keywordReference>
      </page>
      <page
         id="de.jcup.yamleditor.preferences.YamlEditorFormatterPreferencePage"
         class="de.jcup.yamleditor.preferences.YamlEditorFormatterPreferencePage"
         name="Formatter"
         category="de.jcup.yamleditor.preferences.YamlEditorPreferencePage">
         <keywordReference
               id="yamleditor.preferences.keyword.yaml">
         </keywordReference>
          <keywordReference
               id="yamleditor.preferences.keyword.format">
         </keywordReference>
          <keywordReference
               id="yamleditor.preferences.keyword.formatter">
         </keywordReference>
      </page>
      <page
         id="de.jcup.yamleditor.preferences.YamlTaskTagsPreferencePage"
         class="de.jcup.yamleditor.preferences.YamlTaskTagsPreferencePage"
         name="Task Tags"
         category="de.jcup.yamleditor.preferences.YamlEditorPreferencePage">
         <keywordReference
               id="yamleditor.preferences.keyword.yaml">
         </keywordReference>
         <keywordReference
               id="yamleditor.preferences.keyword.todo">
         </keywordReference>
         <keywordReference
               id="yamleditor.preferences.keyword.task">
         </keywordReference>
          <keywordReference
               id="yamleditor.preferences.keyword.tasks">
         </keywordReference>
      </page>
      <page
         id="de.jcup.yamleditor.preferences.YamlTemplatePreferencePage"
         class="de.jcup.yamleditor.preferences.YamlEditorTemplatePreferencePage"
         name="Templates"
         category="de.jcup.yamleditor.preferences.YamlEditorPreferencePage">
         <keywordReference
               id="yamleditor.preferences.keyword.yaml">
         </keywordReference>
         <keywordReference
               id="yamleditor.preferences.keyword.template">
         </keywordReference>
          <keywordReference
               id="yamleditor.preferences.keyword.templates">
         </keywordReference>
      </page>
    </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.yamleditor.preferences.YamlEditorPreferenceInitializer">
      </initializer>
      <initializer
            class="de.jcup.yamleditor.preferences.YamlTaskTagsPreferenceInitializer">
      </initializer>
   </extension>
   
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          THEME                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
    <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/dark.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.yamleditor.parse.error"
    	point="org.eclipse.core.resources.markers"
    	name="Yaml editor parse error">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
    </extension>
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HELP                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="EditorToc.xml"
            primary="true">
      </toc>
   </extension>
   
</plugin>
